@font-face {
    font-family: 'Roboto-Black';
    src: url(./Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(./Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Thin";
    src: url(./Roboto/Roboto-Thin.ttf);
}

* {
    font-family: 'Roboto';
    margin: 0;

}


#Hero-Section {
    background-color: blue;
    color: rgb(255, 255, 255);
    padding: 10% 10px 0;
    display: flex;
    flex-direction: column;
    padding: 10px 200px 30px 200px;

}

.Header-Container, .Content-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;

}

.logo {
    height: 5vw;
    width: auto;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: azure;
    padding: 10px;
}

a:hover {
    color: rgb(226, 43, 128);
    text-decoration: line-through;
}

.Content-Container {
    padding: 80px 0px 10px 0px;
    justify-items: center;
    align-items: center;
}

.Content-Item {
    display: flex;
    flex-direction: column;
    width: 20vw;
    min-width: 20vw;
    padding: 60px 0px 30px 0px;
    
    
}

h1.Main-Text {
    font-size: 45px;
    font-family: 'Playfair Display', serif;
    line-height: 0.9;
    padding: 0 0 1vw 0;
   
    
}

p .Secondary-Text {
    font-size: 20px;
    
}

button {
    font-size: 10px;
    color: white;
    background-color: transparent;
    margin: 10px 0 10px 0;
    width: 6vw;
    height: 3vw;
    padding: 4px 2px 4px 2px;
    border: 2px solid white;
    display: flexbox;
    min-width: 10vw;
    min-height: 30px;
    white-space: nowrap;


}
.Image-Item {
   align-items: center;
    width: 50%;
    height: 15vw;
    background-color: rgb(125, 125, 150);
    display: flex;
    justify-content: center;
}


#Random-Info-Section {
    
    color: black;
    padding: 3vw 20vw 1vw 20vw;

}

#Random-Info-Section h3 {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 30vw;
    text-align: center;
    font-size: 45px;
    font-family: 'Playfair Display', serif;
    line-height: 0.9;
    padding: 0 0 2vw 0;
}

.Info-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw;

}

.Info-Item {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.Info-Item div {
    height: 4vw;
    width: 4vw;
    color: blue;
    border: 5px solid blue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Info-Item p {
    font-size: 15px;
    width: 8vw;
    text-align: center;
    padding: 1vw 0 0 0;
}

#Quote-Section {
    color: brown;
    background-color: rgb(138, 138, 138);
    margin: 5vw 20vw;
}
#Quote-Section p {
    color: rgb(255, 255, 255);
    padding: 7vw 5vw 1vw;
    text-decoration: wavy;
}

#Quote-Section h4 {
    padding: 1vw 2vw 4vw 50vw;
    color: rgb(83, 83, 83);
    font-style: italic;
}
#Call-To-Action-Section {
    
    padding: 4vw 30vw 5vw;
}

#Call-To-Action-Section div {
    color: blue;
    border: 5px solid blue;
    padding: 2vw 2vw 2vw;
    margin-left: auto;
    margin-right: auto;
}

#Call-To-Action-Section h4 {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    line-height: 0.9;
    padding: 1vw 0 1vw 0;
}

button.btn {
    color: rgb(255, 255, 255);
    background-color: blue;
    margin: 2vw 0 1vw 0;
}

footer {
    background-color: rgb(42, 42, 42);
    color: white;
    padding: 1vw 2vw 1vw 2vw;
    align-items: center;
    text-align: center;
}